dist: trusty
language: python
matrix:
    include:
        - python: 2.7.13
          env: TOX_ENV=py27
        - python: 3.4
          env: TOX_ENV=py34
        - python: 3.5
          env: TOX_ENV=py35
        - python: 3.6
          env: TOX_ENV=py36
before_install:
  - pip install --upgrade pip
install:
  - pip install tox
script:
  - tox -e $TOX_ENV
